# GITHUB required approvals 0 for the Dev env and initial testing
# IaC
/infra/                 @pglcorporate-dev

# Applications
/apps/                  @pglcorporate-dev

# GitOps
/gitops/                @pglcorporate-dev

# CI/CD
/.github/               @pglcorporate-dev

# Documentation
*.md                    @pglcorporate-dev
/docs/                  @pglcorporate-dev

# Default fallback
*                       @pglcorporate-dev